body, #app{
    height: auto !important;
}
.contIndex{
    position: relative;
    margin-top: 9vh;
    height: 91vh;
    background-color: #ffffff;
    border-top: 0.01rem solid #eee;
    padding: 0.3rem;
    .searchbox{
        background-color: #f2f2f2f2;
        height: 0.64rem;
        line-height: 0.64rem;
        border-radius: 0.4rem;
        font-size: 0.28rem;
        color: #999;
        margin: 0 0 0.2rem 0;
    }
    .name{
        font-size: 0.14rem;
        color: #333;
    }
    .roleimg{
        width: 0.26rem;
        height: 0.26rem;
        margin: 0.1rem;
    }
    .contbt{
        span{
            color: #909090;
            font-size: 0.24rem;
            margin: 0 0 0 0.1rem;
        }
    }
    .back{
        width: 0.35rem;
        height: 0.35rem;
      }
}
.flex_sprond {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex_start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    align-items: center;
}

.flex_end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    align-items: center;
}
.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
img.search{
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.15rem;
}
.pdtop{
    padding-top: 0.60rem;
}
.heading{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 100%;
    margin-right: 0.24rem;
}
.contbt{
    padding: 0.20rem 0;
    border-bottom: 0.02rem solid #eee;
  }